---
title: Tags
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>ABOUT</h2>
</div>

<main class="g-container home-content">
<h3 class="share-title"> 分享 </h3>  
<div class="share-con">
<p>

「初心（しょしん）忘（わす）るべからず。」


 “不忘初心。”
</p>
<p>
「一見たいしたことのない仕事でも、思い切って全力を注ぐことだ。仕事を一つ征服するごとに実力が増していく。小さい仕事を立派に果たせるようになれば、大きい仕事の方はひとりでにかたがつく」（デール・カーネギー:作家）


“不起眼的工作也要投入全力去做。每征服一份工作便能提高自身的实力。如果能出色完成一份不起眼的工作，那么困难的工作也能独自解决。—— 戴尔·卡耐基(作家）

</p> 
<p>
「夢は逃げない、逃げるのはいつも自分だ。」高橋歩（作家）


“梦想并不会逃离，逃开的往往是不敢面对梦想的自己。” —— 高桥步（作家）
</p> 
</div>
</main>
<style type="text/css">
.share-title{font-size:32px;color:#00bcf9;text-align:center;}
.share-con{font-size:20px;color:#222;margin-top:100px;}
.share-con p{display:block;margin-top:30px;}
</style>
{% include footer.html %}