<canvas id="Snow"></canvas>

<div class="site-brand-wrapper">
  <div class="site-meta {% if site.custom_logo.enabled %}custom-logo{% endif %}">
    {% if site.custom_logo.image and site.scheme == 'Muse' %}
      <div class="site-meta-headline">
        <a>
          <img class="custom-logo-image" src="{{ site.custom_logo.image }}"
               alt="{{ site.title }}"/>
        </a>
      </div>
    {% endif %}

    <div class="custom-logo-site-title">
      <a href="{{ '/' | site.url}}"  class="brand" rel="start">
        <span class="logo-line-before"><i></i></span>
        <span class="site-title">{{ site.title_mobile }}</span>
        <span class="logo-line-after"><i></i></span>
      </a>
    </div>
      {% if site.seo %}
        <h1 class="site-subtitle" itemprop="description">{{ site.subtitle }}</h1>
      {% else %}
        <p class="site-subtitle">{{ site.subtitle }}</p>
      {% endif %}
  </div>

  <div class="site-nav-toggle">
    <button>
      <span class="btn-bar"></span>
      <span class="btn-bar"></span>
      <span class="btn-bar"></span>
    </button>
  </div>
</div>

<nav class="site-nav">
  {% if site.swiftype_key or site.algolia_search.enable or site.tinysou_Key or site.local_search.enable %}
    {% assign hasSearch = true %}
  {% endif %}

  {% if site.menu %}
    <ul id="menu" class="menu">
      {% for name_path in site.menu %}
        {% assign name = name_path[0] %}
        {% assign path = name_path[1] %}
        {% assign itemName = name | downcase %}
        <li class="menu-item menu-item-{{ itemName }}">
          <a href="{{ path | site.url }}" rel="section">
            {% if site.menu_icons.enable %}
              <i class="menu-item-icon fa fa-fw fa-{{site.menu_icons[itemName] | default: 'question-circle' | downcase }}"></i> <br />
            {% endif %}
            {{ __.menu[name] }}
          </a>
        </li>
      {% endfor %}

      {% if hasSearch %}
        <li class="menu-item menu-item-search">
          {% if site.swiftype_key %}
            <a href="javascript:;" class="st-search-show-outputs">
          {% elsif site.local_search.enable or site.algolia_search.enable %}
            <a href="javascript:;" class="popup-trigger">
          {% endif %}
            {% if site.menu_icons.enable %}
              <i class="menu-item-icon fa fa-search fa-fw"></i> <br />
            {% endif %}
            {{ __.menu.search }}
          </a>
        </li>
      {% endif %}
    </ul>
  {% endif %}

  {% if hasSearch %}
    <div class="site-search">
      {% include _partials/search.html %}
    </div>
  {% endif %}
</nav>

{% include _custom/header.html %}
<script src="/live2dw/lib/L2Dwidget.min.js?0c58a1486de42ac6cc1c59c7d98ae887"></script><script>L2Dwidget.init({"pluginRootPath":"live2dw/","pluginJsPath":"lib/","pluginModelPath":"assets/","tagMode":false,"debug":false,"model":{"jsonPath":"/live2dw/assets/haru02.model.json"},"display":{"position":"right","width":150,"height":300},"mobile":{"show":false},"log":false});</script>

<script>

  /**
   *Add The Funny Title
  */
  var title=document.title;
  var hiddenProperty = 'hidden' in document ? 'hidden' :
      'webkitHidden' in document ? 'webkitHidden' :
          'mozHidden' in document ? 'mozHidden' :
              null;
  var visibilityChangeEvent = hiddenProperty.replace(/hidden/i, 'visibilitychange');
  var onVisibilityChange = function(){
      if (!document[hiddenProperty]) {
          document.title = title;
      }else{
          document.title = "不要走嘛,快回来! Σ(っ °Д °;)っ - " + title;
      }
  }
  document.addEventListener(visibilityChangeEvent, onVisibilityChange);

// mouse click can create love-heart
!function(e, t, a) {
    function r() {
        for (var e = 0; e < s.length; e++) s[e].alpha <= 0 ? (t.body.removeChild(s[e].el), s.splice(e, 1)) : (s[e].y--, s[e].scale += .004, s[e].alpha -= .013, s[e].el.style.cssText = "left:" + s[e].x + "px;top:" + s[e].y + "px;opacity:" + s[e].alpha + ";transform:scale(" + s[e].scale + "," + s[e].scale + ") rotate(45deg);background:" + s[e].color + ";z-index:99999");
        requestAnimationFrame(r)
    }
    function n() {
        var t = "function" == typeof e.onclick && e.onclick;
        e.onclick = function(e) {
            t && t(),
            o(e)
        }
    }
    function o(e) {
        var a = t.createElement("div");
        a.className = "heart",
        s.push({
            el: a,
            x: e.clientX - 5,
            y: e.clientY - 5,
            scale: 1,
            alpha: 1,
            color: c()
        }),
        t.body.appendChild(a)
    }
    function i(e) {
        var a = t.createElement("style");
        a.type = "text/css";
        try {
            a.appendChild(t.createTextNode(e))
        } catch(t) {
            a.styleSheet.cssText = e
        }
        t.getElementsByTagName("head")[0].appendChild(a)
    }
    function c() {
        return "rgb(" + ~~ (255 * Math.random()) + "," + ~~ (255 * Math.random()) + "," + ~~ (255 * Math.random()) + ")"
    }
    var s = [];
    e.requestAnimationFrame = e.requestAnimationFrame || e.webkitRequestAnimationFrame || e.mozRequestAnimationFrame || e.oRequestAnimationFrame || e.msRequestAnimationFrame ||
    function(e) {
        setTimeout(e, 1e3 / 60)
    },
    i(".heart{width: 10px;height: 10px;position: fixed;background: #f00;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);}.heart:after,.heart:before{content: '';width: inherit;height: inherit;background: inherit;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;position: fixed;}.heart:after{top: -5px;}.heart:before{left: -5px;}"),
    n(),
    r()
} (window, document);

</script>

<style>

  #Snow{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        pointer-events: none;
    }
  .shaky {
  display: inline-block;
  padding: 1px;
  font-size: 12px;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation-name: shaky-slow;
  -ms-animation-name: shaky-slow;
  animation-name: shaky-slow;
  -webkit-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running;
}
@-webkit-keyframes shaky-slow {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg)
  }
  2% {
    -webkit-transform: translate(-1px, 1.5px) rotate(1.5deg)
  }
  4% {
    -webkit-transform: translate(1.3px, 0px) rotate(-0.5deg)
  }
  6% {
    -webkit-transform: translate(1.4px, 1.4px) rotate(-2deg)
  }
  8% {
    -webkit-transform: translate(-1.3px, -1px) rotate(-1.5deg)
  }
  10% {
    -webkit-transform: translate(1.4px, 0px) rotate(-2deg)
  }
  12% {
    -webkit-transform: translate(-1.3px, -1px) rotate(-2deg)
  }
  14% {
    -webkit-transform: translate(1.5px, 1.3px) rotate(1.5deg)
  }
  16% {
    -webkit-transform: translate(1.5px, -1.5px) rotate(-1.5deg)
  }
  18% {
    -webkit-transform: translate(1.3px, -1.3px) rotate(-2deg)
  }
  20% {
    -webkit-transform: translate(1px, 1px) rotate(-0.5deg)
  }
  22% {
    -webkit-transform: translate(1.3px, 1.5px) rotate(-2deg)
  }
  24% {
    -webkit-transform: translate(-1.4px, -1px) rotate(2deg)
  }
  26% {
    -webkit-transform: translate(1.3px, -1.3px) rotate(0.5deg)
  }
  28% {
    -webkit-transform: translate(1.6px, -1.6px) rotate(-2deg)
  }
  30% {
    -webkit-transform: translate(-1.3px, -1.3px) rotate(-1.5deg)
  }
  32% {
    -webkit-transform: translate(-1px, 0px) rotate(2deg)
  }
  34% {
    -webkit-transform: translate(1.3px, 1.3px) rotate(-0.5deg)
  }
  36% {
    -webkit-transform: translate(1.3px, 1.6px) rotate(1.5deg)
  }
  38% {
    -webkit-transform: translate(1.3px, -1.6px) rotate(1.5deg)
  }
  40% {
    -webkit-transform: translate(-1.4px, -1px) rotate(-0.5deg)
  }
  42% {
    -webkit-transform: translate(-1.4px, 1.3px) rotate(-0.5deg)
  }
  44% {
    -webkit-transform: translate(-1.6px, 1.4px) rotate(0.5deg)
  }
  46% {
    -webkit-transform: translate(-2.1px, -1.3px) rotate(-0.5deg)
  }
  48% {
    -webkit-transform: translate(1px, 1.6px) rotate(1.5deg)
  }
  50% {
    -webkit-transform: translate(1.6px, 1.6px) rotate(1.5deg)
  }
  52% {
    -webkit-transform: translate(-1.4px, 1.6px) rotate(0.5deg)
  }
  54% {
    -webkit-transform: translate(1.6px, -1px) rotate(-2deg)
  }
  56% {
    -webkit-transform: translate(1.3px, -1.6px) rotate(-2deg)
  }
  58% {
    -webkit-transform: translate(-1.3px, -1.6px) rotate(0.5deg)
  }
  60% {
    -webkit-transform: translate(1.3px, 1.6px) rotate(-0.5deg)
  }
  62% {
    -webkit-transform: translate(0px, 0px) rotate(-1.5deg)
  }
  64% {
    -webkit-transform: translate(-1.6px, -1.6px) rotate(-2deg)
  }
  66% {
    -webkit-transform: translate(1.6px, -1.6px) rotate(0.5deg)
  }
  68% {
    -webkit-transform: translate(0px, -1.6px) rotate(-2deg)
  }
  70% {
    -webkit-transform: translate(-1.6px, 1px) rotate(1.5deg)
  }
  72% {
    -webkit-transform: translate(-1.6px, 1.6px) rotate(2deg)
  }
  74% {
    -webkit-transform: translate(1.3px, -1.6px) rotate(-0.5deg)
  }
  76% {
    -webkit-transform: translate(1.4px, 1px) rotate(-0.5deg)
  }
  78% {
    -webkit-transform: translate(-1px, 1.4px) rotate(2deg)
  }
  80% {
    -webkit-transform: translate(1.4px, 1.6px) rotate(2deg)
  }
  82% {
    -webkit-transform: translate(-1.6px, -1.6px) rotate(-0.5deg)
  }
  84% {
    -webkit-transform: translate(-1.4px, 1.4px) rotate(-2deg)
  }
  86% {
    -webkit-transform: translate(1px, 1.4px) rotate(-2deg)
  }
  88% {
    -webkit-transform: translate(-1.4px, 1.4px) rotate(-1.5deg)
  }
  90% {
    -webkit-transform: translate(-1.6px, -1.6px) rotate(-2deg)
  }
  92% {
    -webkit-transform: translate(-1.6px, 1.6px) rotate(2deg)
  }
  94% {
    -webkit-transform: translate(-1.6px, -1.6px) rotate(-2deg)
  }
  96% {
    -webkit-transform: translate(-1.4px, 1.3px) rotate(-2deg)
  }
  98% {
    -webkit-transform: translate(1.3px, 1px) rotate(-0.5deg)
  }
}
@keyframes shaky-slow {
  0% {
    transform: translate(0px, 0px) rotate(0deg)
  }
  2% {
    transform: translate(-1px, 1.5px) rotate(1.5deg)
  }
  4% {
    transform: translate(1.3px, 0px) rotate(-0.5deg)
  }
  6% {
    transform: translate(1.4px, 1.4px) rotate(-2deg)
  }
  8% {
    transform: translate(-1.3px, -1px) rotate(-1.5deg)
  }
  10% {
    transform: translate(1.4px, 0px) rotate(-2deg)
  }
  12% {
    transform: translate(-1.3px, -1px) rotate(-2deg)
  }
  14% {
    transform: translate(1.5px, 1.3px) rotate(1.5deg)
  }
  16% {
    transform: translate(1.5px, -1.5px) rotate(-1.5deg)
  }
  18% {
    transform: translate(1.3px, -1.3px) rotate(-2deg)
  }
  20% {
    transform: translate(1px, 1px) rotate(-0.5deg)
  }
  22% {
    transform: translate(1.3px, 1.5px) rotate(-2deg)
  }
  24% {
    transform: translate(-1.4px, -1px) rotate(2deg)
  }
  26% {
    transform: translate(1.3px, -1.3px) rotate(0.5deg)
  }
  28% {
    transform: translate(1.6px, -1.6px) rotate(-1.5deg)
  }
  30% {
    transform: translate(-1.3px, -1.3px) rotate(-1.5deg)
  }
  32% {
    transform: translate(-1px, 0px) rotate(2deg)
  }
  34% {
    transform: translate(1.3px, 1.3px) rotate(-0.5deg)
  }
  36% {
    transform: translate(1.3px, 1.6px) rotate(1.5deg)
  }
  38% {
    transform: translate(1.3px, -1.6px) rotate(1.5deg)
  }
  40% {
    transform: translate(-1.4px, -1px) rotate(-0.5deg)
  }
  42% {
    transform: translate(-1.4px, 1.3px) rotate(-0.5deg)
  }
  44% {
    transform: translate(-1.6px, 1.4px) rotate(0.5deg)
  }
  46% {
    transform: translate(-2.1px, -1.3px) rotate(-0.5deg)
  }
  48% {
    transform: translate(1px, 1.6px) rotate(1.5deg)
  }
  50% {
    transform: translate(1.6px, 1.6px) rotate(1.5deg)
  }
  52% {
    transform: translate(-1.4px, 1.6px) rotate(0.5deg)
  }
  54% {
    transform: translate(1.6px, -1px) rotate(-2deg)
  }
  56% {
    transform: translate(1.3px, -1.6px) rotate(-2deg)
  }
  58% {
    transform: translate(-1.3px, -1.6px) rotate(0.5deg)
  }
  60% {
    transform: translate(1.3px, 1.6px) rotate(-0.5deg)
  }
  62% {
    transform: translate(0px, 0px) rotate(-1.5deg)
  }
  64% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg)
  }
  66% {
    transform: translate(1.6px, -1.6px) rotate(0.5deg)
  }
  68% {
    transform: translate(0px, -1.6px) rotate(-2deg)
  }
  70% {
    transform: translate(-1.6px, 1px) rotate(1.5deg)
  }
  72% {
    transform: translate(-1.6px, 1.6px) rotate(2deg)
  }
  74% {
    transform: translate(1.3px, -1.6px) rotate(-0.5deg)
  }
  76% {
    transform: translate(1.4px, 1px) rotate(-0.5deg)
  }
  78% {
    transform: translate(-1px, 1.4px) rotate(2deg)
  }
  80% {
    transform: translate(1.4px, 1.6px) rotate(2deg)
  }
  82% {
    transform: translate(-1.6px, -1.6px) rotate(-0.5deg)
  }
  84% {
    transform: translate(-1.4px, 1.4px) rotate(-2deg)
  }
  86% {
    transform: translate(1px, 1.4px) rotate(-2deg)
  }
  88% {
    transform: translate(-1.4px, 1.4px) rotate(-1.5deg)
  }
  90% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg)
  }
  92% {
    transform: translate(-1.4px, 1.6px) rotate(2deg)
  }
  94% {
    transform: translate(-1.6px, -1.6px) rotate(-2deg)
  }
  96% {
    transform: translate(-1.4px, 1.3px) rotate(-2deg)
  }
  98% {
    transform: translate(1.3px, 1px) rotate(-0.5deg)
  }
}
</style>
<script>
    if(true){
        (function() {
            var requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame ||
            function(callback) {
                window.setTimeout(callback, 1000 / 60);
            };
            window.requestAnimationFrame = requestAnimationFrame;
        })();
        
        (function() {
            var flakes = [],
                canvas = document.getElementById("Snow"),
                ctx = canvas.getContext("2d"),
                flakeCount = 30,
                mX = -100,
                mY = -100;
            
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            
            function snow() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
            
                for (var i = 0; i < flakeCount; i++) {
                    var flake = flakes[i],
                        x = mX,
                        y = mY,
                        minDist = 150,
                        x2 = flake.x,
                        y2 = flake.y;
            
                    var dist = Math.sqrt((x2 - x) * (x2 - x) + (y2 - y) * (y2 - y)),
                        dx = x2 - x,
                        dy = y2 - y;
            
                    if (dist < minDist) {
                        var force = minDist / (dist * dist),
                            xcomp = (x - x2) / dist,
                            ycomp = (y - y2) / dist,
                            deltaV = force / 2;
            
                        flake.velX -= deltaV * xcomp;
                        flake.velY -= deltaV * ycomp;
            
                    } else {
                        flake.velX *= .98;
                        if (flake.velY <= flake.speed) {
                            flake.velY = flake.speed
                        }
                        flake.velX += Math.cos(flake.step += .05) * flake.stepSize;
                    }
            
                    ctx.fillStyle = "rgba(255,255,255," + flake.opacity + ")";
                    flake.y += flake.velY;
                    flake.x += flake.velX;
                        
                    if (flake.y >= canvas.height || flake.y <= 0) {
                        reset(flake);
                    }
            
                    if (flake.x >= canvas.width || flake.x <= 0) {
                        reset(flake);
                    }
            
                    ctx.beginPath();
                    ctx.arc(flake.x, flake.y, flake.size, 0, Math.PI * 2);
                    ctx.fill();
                }
                requestAnimationFrame(snow);
            };
            
            function reset(flake) {
                flake.x = Math.floor(Math.random() * canvas.width);
                flake.y = 0;
                flake.size = (Math.random() * 3) + 4;
                flake.speed = (Math.random() * 1) + 0.5;
                flake.velY = flake.speed;
                flake.velX = 0;
                flake.opacity = (Math.random() * 0.5) + 0.3;
            }
            
            function init() {
                for (var i = 0; i < flakeCount; i++) {
                    var x = Math.floor(Math.random() * canvas.width),
                        y = Math.floor(Math.random() * canvas.height),
                        size = (Math.random() * 3) + 4,
                        speed = (Math.random() * 1) + 0.5,
                        opacity = (Math.random() * 0.5) + 0.3;
            
                    flakes.push({
                        speed: speed,
                        velY: speed,
                        velX: 0,
                        x: x,
                        y: y,
                        size: size,
                        stepSize: (Math.random()) / 30 * 1,
                        step: 0,
                        angle: 180,
                        opacity: opacity
                    });
                }
            
                snow();
            };
            
            document.addEventListener("mousemove", function(e) {
                mX = e.clientX,
                mY = e.clientY
            });
            window.addEventListener("resize", function() {
                canvas.width = window.innerWidth;
                canvas.height = window.innerHeight;
            });
            init();
        })();
    }
</script>